@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --background: hsl(60, 4.76%, 95.88%);
    --foreground: hsl(220.9, 39.3%, 11%);
    --card: hsl(0, 0%, 100%);
    --primary: hsl(238.7, 83.5%, 66.7%);
    --primary-foreground: hsl(0, 0%, 100%);
    --muted: hsl(220, 13.04%, 90.98%);
    --muted-foreground: hsl(220, 8.9%, 46.1%);
    --muted-block: hsl(220, 14.29%, 95.88%);
    --icon-inactive: hsl(220, 8.94%, 46.08%);
    --icon-active: hsl(238.7, 83.5%, 66.7%);
    --border: hsl(220, 13%, 91%);
    --outline: hsl(217.89, 10.61%, 64.9%);
    --input: hsl(220, 13%, 91%);
    --ring: hsl(262.1, 83.3%, 57.8%);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(210, 20%, 98%);
    --destructive-hover: hsl(0, 90.6%, 70.78%);
    --middle: hsl(50.4, 97.8%, 63.5%);
    --top: hsl(142.1, 70.6%, 45.3%);
    --subtext: hsl(216.9, 19.1%, 26.7%);
  }
  .dark {
    --background: hsl(215, 27.9%, 16.9%);
    --foreground: hsl(220, 13%, 91%);
    --card: hsl(220.9, 39.3%, 11%);
    --primary: hsl(238.7, 83.5%, 66.7%);
    --primary-foreground: hsl(0, 0%, 100%);
    --muted: hsl(215, 27.9%, 16.9%);
    --muted-foreground: hsl(217.9, 10.6%, 64.9%);
    --muted-block: hsl(215, 27.9%, 16.9%);
    --icon-inactive: hsl(215, 27.9%, 16.9%);
    --icon-active: hsl(238.7, 83.5%, 66.7%);
    --border: hsl(215, 27.9%, 16.9%);
    --outline: hsl(220, 13%, 51%);
    --input: hsl(215, 27.9%, 16.9%);
    --ring: hsl(263.4, 70%, 50.4%);
    --destructive: hsl(0, 72.22%, 50.59%);
    --destructive-foreground: hsl(210, 20%, 98%);
    --destructive-hover: hsl(0, 90.6%, 70.78%);
    --middle: hsl(50.4, 97.8%, 63.5%);
    --top: hsl(142.1, 70.6%, 45.3%);
    --subtext: hsl(217.9, 10.6%, 64.9%);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground text-standard max-w-[1500px] mx-auto;
  }
}

.card {
  @apply bg-card rounded-md shadow-md;
}

.menu-item {
  @apply flex items-center w-full p-2 rounded-md hover:bg-muted-block hover:text-icon-active;
}

/* .icon-wrapper {
  @apply flex items-center justify-center p-2 rounded-full bg-muted text-icon hover:text-icon-active group-hover:text-icon-active;
} */

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.pagination {
  @apply flex justify-center space-x-3 list-none card p-3 font-medium;
}

.pagination li a {
  @apply inline-block text-small py-[5px] px-[9px] border border-border rounded-md hover:bg-muted hover:text-primary;
}

.pagination li.active a {
  @apply bg-primary text-primary-foreground;
}
